body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

form {
  width: 430px;
  height: 200px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

button {
  padding: 20px;
  color: white;
  background-color: #5c47d2;
}

h1 {
  font-size: 64px;
  margin-bottom: 50px;
  /* border: 1px solid red; */
}

input {
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  height: 400px;
}
